@using GameZone.Resources
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer localizer
@{
        var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
    }

<!DOCTYPE html>
<html lang="en" dir="@(isRTL ? "RTL" : " LTR")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/imgs/logo.jpg">
    <title>@ViewData["Title"] - GameZone</title>
    @await Html.PartialAsync("_CommonResources")
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3>">
            <div class="container-fluid">
                <a style="font-size:2rem" class="navbar-brand text-white " asp-area="" asp-controller="Home" asp-action="Index"> <i class="bi bi-controller"></i> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a style="font-size:1.1rem" class="nav-link  text-white pe-3" asp-area="" asp-controller="Home" asp-action="Index"> <i class="bi bi-house"></i> @localizer["GameZone"]</a>
                        </li>
                        <li class="nav-item">
                            <a style="font-size:1.1rem" class="nav-link  text-white pe-3" asp-area="" asp-controller="Game" asp-action="Index"> <i class="bi bi-joystick"></i> @localizer["Games"] </a>
                        </li>
                    </ul>
                </div>
                <div class="p-4">
                @await Html.PartialAsync("_SelectLang")
                </div>
            </div>
        </nav>
    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-white navbar-dark bg-dark ">
        <div class="container">
            &copy- Mohammad Mosbah V:1. 2024  <a class="text-white" href="mailto:m_ahmad@gig.com.j"><i style="margin-right:-60px" class="bi bi-envelope-at-fill float-end"></i></a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
    <script src="//cdn.datatables.net/2.1.5/js/dataTables.min.js"></script>
      <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>
