@model List<Device>

@using GameZone.Models
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer localizer

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-dark bg-dark ml-0 py-3">
        <div class="row ">
            <div class="col-12 text-center ">
                <h2 class="text-white py-2 ">@localizer["Console List"] </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Consoles" asp-action="Create" class="btn btn-outline-success">
                    <i class="bi bi-plus-square"></i> @localizer["Add New Console"]
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped  table-hover" id="ConsoleTable">
            <thead>
                <tr>

                    <th class="text-center text-white bg-dark bg-dark">
                        @localizer["Device Name"]
                    </th>
                    <th class="text-center text-white bg-dark bg-dark">
                        @localizer["Device Generation"]
                    </th>
                    <th class="text-center text-white bg-dark bg-dark">
                        @localizer["Price"] / @localizer["Currency"]
                    </th>
                    <th class="text-center text-white bg-dark bg-dark">
                        @localizer["Modifying"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {

                    <tr class="text-center">

                        <td>@obj.Name</td>
                        <td class="text-center">
                            @obj.Generation
                        </td>
                        <td class="text-center">
                            @obj.Price 
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Consoles" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-secandary mx-2 ">
                                    <i class="bi bi-pencil-square text-info"></i>
                                </a>
                                <a asp-controller="Consoles" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-secandary mx-2">
                                    <i class="bi bi-trash text-danger"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<script src="~/js/console.js"></script>