@model Game
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer Localizer
@await Html.PartialAsync("_CommonResources")

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-dark bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@Localizer["CREATE NEW GAME"]</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" autocomplete="off">
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <input asp-for="Id" id="id" disabled class="form-control border-0 shadow "  />
                    <label asp-for="Id" class="ms-2">@Localizer["Id"] </label>
                </div>
                <div class="form-floating py-2 col-12">
                   
                    <input asp-for="Name" id="name" class="form-control border-0 shadow "  />
                    <label asp-for="Name" class="ms-2">@Localizer["Name"] </label>
                    <span asp-validation-for="Name" id="error-message" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Description" id="desc" class="form-control border-0 shadow"  />
                    <label asp-for=" Description" class="ms-2"> @Localizer["Description"] </label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for=" Level" id="level" class="form-control border-0 shadow" />
                    <label asp-for=" Level" class="ms-2"> @Localizer["Level"] </label>
                    <span asp-validation-for="Level" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="button" class="btn btn-success form-control" onclick="successAlerts()">@Localizer["Create"]</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Game" asp-action="Index" class="btn btn-dark border  form-control">
                            @Localizer["Back To List"]
                        </a>
                       
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>




@section Scripts {

    <script>
        $(document).ready(function () {
            $("input[name='Name']").on('input', function () {
                this.value = this.value.replace(/[^a-zA-Z\s]/g, '');
            });
        });
    </script>
    <script src="~/js/Game.js"></script>
}